speech-bubble {

  .oval-thought {
    position: relative;
    width: 20%;
    padding-top: 10px;
    margin: 2em 10px 2em auto;
    text-align: center;
    color: #fff;
    float: left;
    background: #800080;
    border-radius: 20px;
  }

}
